.container {
    margin: auto;
    text-align: center;
    width: 70%;
}

.dice {
    display: inline-block;
    text-align: center; 
}

body {
    background-color: #393E46;
}

h1 {
    color: #4ECCA3;
    margin: 30px;
    font-family: cursive;
    font-size: 8rem;
    text-shadow: 5px 0 #232931;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: cursive;
}

img {
    width: 80%;
}

footer {
    color: #EEEEEE;
    margin-top: 5%;
    font-family: cursive;
    text-align: center;
}   